#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jitsi"
name = "Jitsi Meet"
description.en = "Video conferencing web application"
description.fr = "Application web de conférence vidéo"

version = "2.0.10590~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
website = "https://jitsi.org/"
demo = "https://meet.jit.si/"
userdoc = "https://jitsi.org/user-faq/"
code = "https://github.com/jitsi/jitsi-meet"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]
    [resources.sources.jitsi-meet-web]
    url = "https://download.jitsi.org/stable/jitsi-meet-web_1.0.8877-1_all.deb"
    sha256 = "c7e41427d661c0121aebacd89dcbf1a05f075148f0bfd3e4b948d1287ffcf18b"
    format = "whatever"
    extract = false
    rename = "jitsi-meet-web.deb"

    [resources.sources.jitsi-sctp]
    url = "https://github.com/sctplab/usrsctp/archive/2e1ab1050bbb6c710f6a475f1601acf1ae7ecb78.zip"
    sha256 = "9d5ae6125894e66dcc4142f3d075df1a95ea29e778126830cc374b98ccc39612"

    [resources.sources.jitsi-jicofo]
    url = "https://download.jitsi.org/stable/jicofo_1.0-1162-1_all.deb"
    sha256 = "4d2115568b2da0512fa0d7bb183c9bc5f01c987e3a2b4981b90c757f548a59f4"
    format = "whatever"
    extract = false
    rename = "jitsi-jicofo.deb"

    [resources.sources.jitsi-videobridge]
    url = "https://download.jitsi.org/stable/jitsi-videobridge2_2.3-259-g22868ff7d-1_all.deb"
    sha256 = "088dd1042a7df8ec6dad3d8234a5b3d23108e01d2f07bfa346474b9fbe206376"
    format = "whatever"
    extract = false
    rename = "jitsi-videobridge.deb"

    [resources.sources.usrsctp]
    url = "https://github.com/sctplab/usrsctp/archive/2e1ab1050bbb6c710f6a475f1601acf1ae7ecb78.zip"
    sha256 = "9d5ae6125894e66dcc4142f3d075df1a95ea29e778126830cc374b98ccc39612"

    [resources.sources.jitsi-meet-prosody]
    url = "https://download.jitsi.org/stable/jitsi-meet-prosody_1.0.8877-1_all.deb"
    sha256 = "f98e1482da54da4f92532394c2d669fb22f46e67ae9e65e8dc2e7a60790bea99"
    format = "whatever"
    extract = false
    rename = "jitsi-meet-prosody.deb"

    [resources.sources.mod_auth_ldap]
    url = "https://hg.prosody.im/prosody-modules/raw-file/tip/mod_auth_ldap/mod_auth_ldap.lua"
    sha256 = "49c67ec86ec75ac8de93803be2ac7f907d1e9d3d22cd4c88fd48aaeed7a411e3"
    format = "whatever"
    extract = false
    rename = "mod_auth_ldap.lua"


    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 4443
    main.exposed = "TCP"
    videobridge.default = 10000
    videobridge.exposed = "UDP"
    component.default = 5347

    [resources.apt]
    packages = [
        "openjdk-8-jre-headless\\|openjdk-11-jre-headless\\|openjdk-17-jre-headless\\|openjdk-21-jre-headless",
        "debconf",
        "procps",
        "uuid-runtime",
        "lua-ldap",
        "prosody",
        "binutils",
    ]

    packages_from_raw_bash = """
        if [[ "$YNH_ARCH" == "armhf" ]] || [[ "$YNH_ARCH" == "arm64" ]]; then
           echo automake autoconf build-essential libtool git maven m4
        fi
    """
