#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jitsi"
name = "Jitsi Meet"
description.en = "Video conferencing web application"
description.fr = "Application web de conférence vidéo"

version = "2.0.9646~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
website = "https://jitsi.org/"
demo = "https://meet.jit.si/"
userdoc = "https://jitsi.org/user-faq/"
code = "https://github.com/jitsi/jitsi-meet"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]
    [resources.sources.jitsi-meet-web]
    url = "https://download.jitsi.org/stable/jitsi-meet-web_1.0.8091-1_all.deb"
    sha256 = "95052170edcc8e6a90e841ca40ba508c0edad7c2037d912e9542a6f25b9dbd09"
    format = "whatever"
    extract = false
    rename = "jitsi-meet-web.deb"

    [resources.sources.jitsi-sctp]
    url = "https://github.com/jitsi/jitsi-sctp/archive/e04a9c9481d40d5dd8efd0a5bda05a3a4395ca69.tar.gz"
    sha256 = "bbd41704953da32acafd85451d13851f63e9f54563d7b618b9382b72761da8d2"

    [resources.sources.jitsi-jicofo]
    url = "https://download.jitsi.org/stable/jicofo_1.0-1090-1_all.deb"
    sha256 = "085b7fd3c468244390701f6ff6357dce1e78a18ae84aa77e46c13c61c3261a0f"
    format = "whatever"
    extract = false
    rename = "jitsi-jicofo.deb"

    [resources.sources.jitsi-videobridge]
    url = "https://download.jitsi.org/stable/jitsi-videobridge2_2.3-92-g64f9f34f-1_all.deb"
    sha256 = "7dab6401188581211097f71a5548c95fbee8b3b2190c8119af1a7444b2da2bf3"
    format = "whatever"
    extract = false
    rename = "jitsi-videobridge.deb"

    [resources.sources.usrsctp]
    url = "https://github.com/sctplab/usrsctp/archive/07f871bda23943c43c9e74cc54f25130459de830.tar.gz"
    sha256 = "27be37315dccff4313f0622f88ef78691b0f579824494cfe25cbe13c7185da38"

    [resources.sources.jitsi-meet-prosody]
    url = "https://download.jitsi.org/stable/jitsi-meet-prosody_1.0.8091-1_all.deb"
    sha256 = "2ec648b51905be961a8f90f012fe02ead4699b2a4769dcd256ff3f5ada36ffaf"
    format = "whatever"
    extract = false
    rename = "jitsi-meet-prosody.deb"

    [resources.sources.mod_auth_ldap]
    url = "https://hg.prosody.im/prosody-modules/raw-file/tip/mod_auth_ldap/mod_auth_ldap.lua"
    sha256 = "49c67ec86ec75ac8de93803be2ac7f907d1e9d3d22cd4c88fd48aaeed7a411e3"
    format = "whatever"
    extract = false
    rename = "mod_auth_ldap.lua"


    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.ports]
    main.default = 4443
    main.exposed = "TCP"
    videobridge.default = 10000
    videobridge.exposed = "UDP"
    component.default = 5347

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "openjdk-17-jre-headless",
        "debconf",
        "procps",
        "uuid-runtime",
        "lua-ldap",
        "prosody",
    ]

    packages_from_raw_bash = """
        if [[ "$YNH_ARCH" == "armhf" ]] || [[ "$YNH_ARCH" == "arm64" ]]; then
           echo automake autoconf build-essential libtool git maven m4
        fi
    """
